*.[oa]
*~
/env
VSCDjangoSchool.code-workspace
/.vscode
/__pycache__
.vscode/settings.json
mysite/mysite/__pycache__/__init__.cpython-38.pyc
mysite/mysite/__pycache__/settings.cpython-38.pyc
mysite/mysite/__pycache__/urls.cpython-38.pyc
mysite/mysite/__pycache__/wsgi.cpython-38.pyc
/OtherFiles
/my_store
/photologue
*__pycache__
/migrations
/services/
photologue/
*migrations/